@media (min-width: 1024px) {

    
    .world {
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    /* ---------NEWS GRID-------- */

    .grid-news-content {
        grid-template-columns: repeat(4, 1fr);
    }

    .latest-tile-last {
        display: block;
    }

    /* ---------EXCLUSIVE SECTION---------- */

    .exclusive {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-news,
    .latest,
    .exclusive {
        max-width: 1200px;
        margin: 0 auto;
    }
       
}